/* ドロップダウンメニューのスタイル */
.dropdown {
  position: absolute;
  top: 100%; /* 親要素の下に表示 */
  left: 0;
  background-color: rgba(26, 26, 26, 0.6); /* 半透明の暗いグレー */
  list-style: none;
  padding: 10px;
  margin: 0;
  display: none; /* 初期状態で非表示 */
  flex-direction: column;
  width: 115px; /* メニューの幅 */
}

.dropdown li {
  color: #fff;
  padding: 5px 0;
  cursor: pointer;
  font-weight: bold;
}

.dropdown li:hover {
  background-color: rgba(50, 50, 50, 0.7); /* ホバー時の半透明の背景色 */
}

/* ドロップダウンをホバー時に表示 */
li:hover .dropdown {
  display: flex;
}

/* ヘッダー内のリンクのホバー時のスタイル */
nav ul li:hover {
  text-decoration: underline;
}

/* 追加のCSS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #111;
  font-family: Sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
}

/* bol-area のスタイルを更新 */
.bol-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4em;
  color: #fff;
  letter-spacing: -5px;
  font-weight: 600;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #53bba5, 0px 0px 7px #53bba5;
  z-index: 2; /* z-index を調整 */
}

/* モバイルビューのメディアクエリ */
@media (max-width: 768px) {
  .bol-area {
    font-size: 2.5em;
    letter-spacing: -2px;
    margin-top: 0;
  }
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #53bba5,
      0px 0px 10px #53bba5,
      0px 0px 25px #53bba5,
      0px 0px 25px #53bba5,
      0px 0px 25px #53bba5,
      0px 0px 25px #53bba5,
      0px 0px 25px #53bba5,
      0px 0px 25px #53bba5,
      0px 0px 50px #53bba5,
      0px 0px 50px #53bba5,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

/* フッターのCSS */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #888888;
  font-size: 0.8rem;
  padding: 0.5rem;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
}

/* モバイルビューのメディアクエリ */
@media (max-width: 768px) {
  /* ヘッダーメニューのテキスト間隔を狭める */
  nav ul li {
    margin: 0 20px;
  }

  /* 必要に応じてフォントサイズを調整 */
  nav ul li a {
    font-size: 0.9em;
  }

  /* ナビゲーションバーの高さを調整 */
  nav {
    height: 50px;
  }

  /* ナビゲーションメニューのスタイルを調整 */
  nav ul {
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 30px;
  }

  nav ul li {
    margin: 5px 10px;
  }

  nav {
    height: auto;
  }
}
